# Core ML / audio
torch==2.7.0
torchaudio==2.7.0
numpy==1.26.4          
librosa==0.11.0
soundfile==0.13.1
Resemblyzer==0.1.4

# Embeddings / NLP
sentence-transformers==4.0.2
datasets==3.5.0
huggingface-hub==0.30.2
ollama==0.4.8 

# Utilities
pandas==2.2.3
tqdm==4.67.1
tensorboard==2.19.0      
streamlit==1.44.1        
scipy==1.15.2            
scikit-learn==1.6.1